<library path="m5_hardware">
  <class name="m5_hardware/M5Hardware"
         type="m5_hardware::M5Hardware"
         base_class_type="hardware_interface::SystemInterface">
    <description>
      The ros2_control unity example using a system hardware interface-type.
    </description>
  </class>
</library>
